#
# Systemd script to manage a Cassandra node.
#
# Copyright 2016-2021, Frederico Martins
#   Author: Frederico Martins <http://github.com/fscm>
#
# SPDX-License-Identifier: MIT
#

[Unit]
Description=Cassandra
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=forking
User=cassandra
Group=cassandra
PIDFile=/var/run/cassandra/cassandra.pid
WorkingDirectory=/srv/cassandra
PermissionsStartOnly=true
ExecStartPre=-/usr/bin/install -o cassandra -g cassandra -d /var/run/cassandra
ExecStart=/srv/cassandra/bin/cassandra -p /var/run/cassandra/cassandra.pid
SyslogIdentifier=cassandra
StandardOutput=journal
StandardError=journal
LimitNOFILE=infinity
LimitMEMLOCK=infinity
LimitNPROC=infinity
LimitAS=infinity
SuccessExitStatus=143
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
